@import "../../node_modules/tailwindcss";

.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
}

:root {
  --background:  #f1f0ff;
  --foreground:#24242e;
  --font-figtree: 'Figtree', sans-serif;
}

/* Hide the Next.js development badge */
#__next > div > div > div > div > div {
  display: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground:#0a0a0a;
  }
}

.titleFont {
  font-family: var(--font-figtree), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.d3ChartContainer {
  position: relative;
}
